<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertItems">
        INSERT INTO ITEMS
        (
          name
        , cost
        , category
        , value
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="selectAllItems">
        SELECT *
          FROM ITEMS;
    </entry>

    <entry key="selectItemByIndex">
        SELECT *
          FROM ITEMS
         WHERE id = ?
    </entry>

    <entry key="selectItemByName">
        SELECT *
          FROM ITEMS
         WHERE name = ?
    </entry>

    <entry key="insertItem">
        INSERT INTO ITEMS
        (
          id
        , name
        , cost
        , category
        , value
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="selectMaxId">
        SELECT MAX(id)
          FROM ITEMS
    </entry>

    <entry key="deleteInventory">
        DELETE FROM INVENTORY
    </entry>

    <entry key="insertPlayer">
        INSERT INTO PLAYER
        (
          name
        , level
        , hp
        , maxHp
        , mp
        , maxMp
        , job
        , skill
        , cost
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="updatePlayer">
        UPDATE PLAYER
           SET
          name = ?
        , level = ?
        , hp = ?
        , maxHp = ?
        , mp = ?
        , maxMp = ?
        , job = ?
        , skill = ?
        , cost = ?
    </entry>

    <entry key="deletePlayer">
        DELETE FROM PLAYER
    </entry>

    <entry key="selectAllInventory">
        SELECT * FROM INVENTORY
    </entry>

    <entry key="selectWeapon">
        SELECT * FROM WEAPON
    </entry>

    <entry key="selectArmor">
        SELECT * FROM Armor
    </entry>

    <entry key="deleteByName">
        DELETE FROM INVENTORY
         WHERE name = ?
    </entry>

    <entry key="insertWeaponItem">
        INSERT INTO WEAPON
        (
          name
        , cost
        , category
        , value
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="insertInvenItem">
        INSERT INTO INVENTORY
        (
        name
        , cost
        , category
        , value
        )
        VALUES
        (
        ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="deleteByNameWeapon">
        DELETE FROM WEAPON
         WHERE name = ?
    </entry>

    <entry key="insertArmor">
        INSERT INTO ARMOR
        (
          name
        , cost
        , category
        , value
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="deleteByNameArmor">
        DELETE FROM ARMOR
         WHERE name = ?
    </entry>

    <entry key="deleteAllWeapons">
        DELETE FROM WEAPON
    </entry>

    <entry key="deleteAllArmor">
        DELETE FROM ARMOR
    </entry>

    <entry key="selectByNameInventory">
        SELECT *
          FROM INVENTORY
         WHERE name = ?
    </entry>
</properties>