<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertItems">
        INSERT INTO ITEMS
        (
          name
        , cost
        , category
        , value
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="selectAllItems">
        SELECT *
          FROM ITEMS;
    </entry>

    <entry key="selectItemByIndex">
        SELECT *
          FROM ITEMS
         WHERE id = ?
    </entry>

    <entry key="selectItemByName">
        SELECT *
          FROM ITEMS
         WHERE name = ?
    </entry>

    <entry key="insertItem">
        INSERT INTO ITEMS
        (
          id
        , name
        , cost
        , category
        , value
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        , ?
        )
    </entry>

    <entry key="selectMaxId">
        SELECT MAX(id)
          FROM ITEMS
    </entry>
</properties>